/* Noms: Christopher Dip et Maya Bitar
Date: 2 Décembre 2020 */
body {
  margin: 0;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

#formcontainer {
  opacity: 0;
}

.form-section {
  background: white;
  height: 1100px;
  background-image: url("https://i.imgur.com/RCM67TF.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-container {
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.90);
  width: 45%;
  height: 55%;
}
