/* Noms: Christopher Dip et Maya Bitar
Date: 2 Décembre 2020 */

body {
  margin: 0;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
   "Arial", sans-serif;
}

.jumbotron {
  height: 100vh;
  background-image: url("https://i.imgur.com/RxFiJvM.jpg");
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 800px) {
  .jumbotron h1 {
    font-size: smaller;
  }
}

#info-section {
  height: 900px;
  background: white;
  overflow: hidden;
  width: 100%;
}

.profile-image-container {
  width: 25vw;
  height: 40vw;
  border-radius: 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -0px;
  background-position-y: 0px;
}

.young {
  background-image: url("https://i.ibb.co/KhfSXyX/elizabeth-harmon-toddler.jpg");
}

.teen {
  background-image: url("https://i.ibb.co/f9C4G40/elizabeth-harmon-teen.jpg");
}

.adult {
  background-position-x: -20px;
  background-image: url("https://i.ibb.co/n1PhCFp/elizabeth-harmon-adult.jpg");
}

.display-4.text-light {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90%;
  width: 100%;
  background-image: none;
}

.card-body.information {
  line-height: 2;
  font-size: 1.5rem;
}

.card-body .display-4.title {
  font-size: 3rem;
}

#education-section {
  background: black;
  height: 795px;
  width: 101%;
}

/* Set opacities to 0 for the fade-ins */
/* This didn't seem to work with the opacity-0 class from bootstrap*/
#carousel-fade, #info-fade {
  opacity: 0;
}

#section-title-2, #section-title-3, #section-title-4 {
  opacity: 0;
}

#education-season-1, #education-year-1, #education-title-1, #education-description-1 {
  opacity: 0;
}

#education-season-2, #education-year-2, #education-title-2, #education-description-2 {
  opacity: 0;
}

#education-season-3, #education-year-3, #education-title-3, #education-description-3 {
  opacity: 0;
}

#education-season-4, #education-year-4, #education-title-4, #education-description-4 {
  opacity: 0;
}

#experience-title-1, #experience-title-2, #experience-title-3, #experience-title-4 {
  opacity: 0;
}

#experience-description-1, #experience-description-2, #experience-description-3, #experience-description-4 {
  opacity: 0;
}

#experience-img-1, #experience-img-2, #experience-img-3, #experience-img-4 {
  opacity: 0;
}

#ouverture-echecs-gif-1, #ouverture-echecs-gif-2, #ouverture-echecs-gif-3, #ouverture-echecs-gif-4, #ouverture-echecs-gif-5, #ouverture-echecs-gif-6, #ouverture-echecs-gif-7, #ouverture-echecs-gif-8 {
  opacity: 0;
}

#ouverture-echecs-1, #ouverture-echecs-2, #ouverture-echecs-3, #ouverture-echecs-4, #ouverture-echecs-5, #ouverture-echecs-6, #ouverture-echecs-7, #ouverture-echecs-8 {
  opacity: 0;
}


@media only screen and (max-width: 1200px) {
  #education-section {
    background: black;
    height: 843px;
    width: 100%;
  }
}

@media only screen and (max-width: 995px) {
  #education-section {
    background: black;
    height: 874px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #education-section {
    background: black;
    height: 1031px;
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  #education-section {
    background: black;
    height: 1031px;
    width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  #education-section {
    background: black;
    height: 1079px;
    width: 100%;
  }
}

#experience-section {
  height: 1200px;
  width: 100%;
  background: white;
}

#experience-section .row {
  height: 18%;
}

#experience-section img {
  width: 40%;
  min-width: 225px;
  border-radius: 20px;
}

#varia-section {
  background: black;
  height: 800px;
  overflow: hidden;
}

.chess-game-row {
  height: 45%;
  width: 100%;
}

.chess-game {
  width: 70%;
  border-radius: 10px;
}

.text-lead-chess-game {
  font-size: 1.1vw;
  font-weight: bolder;
  color: white;
}

/* apple font from url (apple.ca) */
.experience-section-title {
  height: 5%;
  font-size: 3rem;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -.003em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
